<a href="https://colab.research.google.com/github/MaggieWelch/labs/blob/main/Wrangling_MHW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! git clone https://github.com/DS3001/wrangling

fatal: destination path 'wrangling' already exists and is not an empty directory.

Q1. Open the "tidy_data.pdf" document in the repo, which is a paper called Tidy Data by Hadley Wickham.

1. Read the abstract. What is this paper about?

The paper by Hadley Wickham talks about making data easier to work with, which he believes is understudied. He introduces the idea of "tidy data," which means organizing your data consistently so that each column has one type of information, each row is one record, and similar information is kept together. The paper explores the benefits of organzing data this way

2. Read the introduction. What is the "tidy data standard" intended to accomplish?

The tidy data standard lays out a standard format in which data can be organized so that data scientists can spend more time interpreting the data rather than dealing with the logistics of organizing data.

3. Read the intro to section 2. What does this sentence mean: "Like families, tidy datasets are all alike but every messy dataset is messy in its own way." What does this sentence mean: "For a given dataset, itâ€™s usually easy to figure out what are observations and what are variables, but it is surprisingly difficult to precisely define variables and observations in general."

The openning sentence regarding families in section 2 speaks to the nature of how unique data sets are. Each one is complicated in its own way, which makes the task of standardizing data organization difficult. The sentance about being able to easily figure out what are observations and what are variables, however it ia difficult to actually define them, speaks to the fact that for a majority of the time when using data, you know in your head whats a variable and whats an observation, however you have to figure out a way for what you're thinking to translate into code. Generally, the intro for section 2 speaks to how the semantic meaning of the data is really what we are interested in, and the process of getting there can be more efficient through organization.

4. Read Section 2.2. How does Wickham define values, variables, and observations?

Wickham defines values as what makes up the data set, and they can be quantitiative as numbers, or qualitative through strings. Each value belongs to a variable and an observation. A variable contains all values that are measuring the same attribute whereas observations are all values that have the same unit of measurement.

5. How is "Tidy Data" defined in section 2.3?

Tidy data is defined as a standard way of mapping the meaning of a data set. That is; each variable forms a column, each observation forms a row, and each type of observational unit forms a table.

6. Read the intro to Section 3 and Section 3.1. What are the 5 most common problems with messy datasets? Why are the data in Table 4 messy? What is "melting" a dataset?

The 5 most common problems with messy data is that column headers are values and not variable names, multiple variables are stored in the same column, variables are stored in both rows and columns, multiple types of observational units are stored in the same table, and lastly a single observational unit is stored in multiple tables. The data in table 4 is messy because the observations are in columns, and the variables are in rows. Additionally, the columns make up the variable of income, however there is no labeling of the column to indicate the name of the variable. By melting the data set, you turn columns into rows and ensure that column headers are names of variables as opposed to values as seen in table 4.

7. Why, specifically, is table 11 messy but table 12 tidy and "molten"?

Table 11 is messy because there are a large amount of missing values, and the data is hard to read. The column headers are also not variable names, the days, which are values, are there instead. Table 12 removes the days as different columns and conjoins them to be a part of the year to represent the variable of date. Tmin and tmax are also variables and yet are stored in rows. In 12, adjustments are made to the organization of the table making it easier to read.

8. Read Section 6. What is the "chicken-and-egg" problem with focusing on tidy data? What does Wickham hope happens in the future with further work on the subject of data wrangling?

The chicken and the egg problem is that tidy data is only as useful as the tools that work with it, and so tidy tools are inextricably linked to tidy data. Wickham hopes others will build on his framework and there will be more attention paid to the field of tidying data. He hopes tools are constructed that can deal with multidimensional arrays. Overall, he hopes more frameworks are developed to make the task of cleaning data easier, so that data scientists can focus on the data itself and its semantic meaning rather than the logistics of its organization.

Q2. This question provides some practice cleaning variables which have common problems.

1. Numeric variable: For ./data/airbnb_hw.csv, clean the Price variable as well as you can, and explain the choices you make. How many missing values do you end up with? (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('airbnb_hw.csv', low_memory=False)
print(df.shape, '\n')
df.head()

(30478, 13)

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1,0,145,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1,1,37,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1,1,28,NaN
3,500,6/26/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1,0,199,NaN
4,500,6/26/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1,39,549,96.0

In [ ]:
price = df['Price']
price.unique()

array(['145', '37', '28', '199', '549', '149', '250', '90', '270', '290',
       '170', '59', '49', '68', '285', '75', '100', '150', '700', '125',
       '175', '40', '89', '95', '99', '499', '120', '79', '110', '180',
       '143', '230', '350', '135', '85', '60', '70', '55', '44', '200',
       '165', '115', '74', '84', '129', '50', '185', '80', '190', '140',
       '45', '65', '225', '600', '109', '1,990', '73', '240', '72', '105',
       '155', '160', '42', '132', '117', '295', '280', '159', '107', '69',
       '239', '220', '399', '130', '375', '585', '275', '139', '260',
       '35', '133', '300', '289', '179', '98', '195', '29', '27', '39',
       '249', '192', '142', '169', '1,000', '131', '138', '113', '122',
       '329', '101', '475', '238', '272', '308', '126', '235', '315',
       '248', '128', '56', '207', '450', '215', '210', '385', '445',
       '136', '247', '118', '77', '76', '92', '198', '205', '299', '222',
       '245', '104', '153', '349', '114', '320', '292', '226', '420',
       '500', '325', '307', '78', '265', '108', '123', '189', '32', '58',
       '86', '219', '800', '335', '63', '229', '425', '67', '87', '1,200',
       '158', '650', '234', '310', '695', '400', '166', '119', '62',
       '168', '340', '479', '43', '395', '144', '52', '47', '529', '187',
       '209', '233', '82', '269', '163', '172', '305', '156', '550',
       '435', '137', '124', '48', '279', '330', '5,000', '134', '378',
       '97', '277', '64', '193', '147', '186', '264', '30', '3,000',
       '112', '94', '379', '57', '415', '236', '410', '214', '88', '66',
       '71', '171', '157', '545', '1,500', '83', '96', '1,800', '81',
       '188', '380', '255', '505', '54', '33', '174', '93', '740', '640',
       '1,300', '440', '599', '357', '1,239', '495', '127', '5,999',
       '178', '348', '152', '242', '183', '253', '750', '259', '365',
       '273', '197', '397', '103', '389', '355', '559', '38', '203',
       '999', '141', '162', '333', '698', '46', '360', '895', '10', '41',
       '206', '281', '449', '388', '212', '102', '201', '2,750', '4,750',
       '432', '675', '167', '390', '298', '339', '194', '302', '211',
       '595', '191', '53', '361', '480', '8,000', '4,500', '459', '997',
       '345', '216', '218', '111', '735', '276', '91', '490', '850',
       '398', '36', '775', '267', '625', '336', '2,500', '176', '725',
       '3,750', '469', '106', '460', '287', '575', '227', '263', '25',
       '228', '208', '177', '880', '148', '116', '685', '470', '217',
       '164', '61', '645', '699', '405', '252', '319', '268', '419',
       '343', '525', '311', '840', '154', '294', '950', '409', '184',
       '257', '204', '241', '2,000', '412', '121', '288', '196', '900',
       '647', '524', '1,750', '309', '510', '1,495', '1,700', '799',
       '383', '372', '492', '327', '1,999', '656', '224', '173', '875',
       '1,170', '795', '690', '146', '465', '1,100', '151', '274', '429',
       '825', '282', '256', '1,111', '620', '271', '161', '51', '855',
       '579', '1,174', '430', '20', '899', '649', '485', '181', '455',
       '4,000', '243', '342', '590', '560', '374', '437', '232', '359',
       '985', '31', '244', '254', '723', '237', '428', '370', '34',
       '1,400', '580', '2,520', '221', '749', '1,600', '2,695', '306',
       '202', '680', '570', '520', '223', '2,295', '213', '1,065', '346',
       '24', '286', '296', '266', '26', '995', '1,368', '393', '182',
       '635', '258', '780', '589', '347', '1,250', '1,350', '446',
       '3,200', '1,050', '1,650', '1,550', '975', '323', '6,500', '2,499',
       '1,850', '2,250', '715', '461', '540', '356', '439', '384', '569',
       '1,900', '22', '785', '626', '830', '318', '444', '321', '401',
       '1,499', '888', '369', '770', '386', '366', '344', '630', '313',
       '597', '262', '509', '10,000', '278', '312', '789', '1,195', '422',
       '21', '765', '3,500', '945', '326', '3,100', '2,486', '3,390',
       '1,356', '2,599', '472', '454', '328', '396', '291'], dtype=object)

prices are being returned as strings, concluded from the fact that values such as "1,400" are represented as so as opposed to "1400". Next part of the code removes the commas and changes the values from a string to a float. Then, my code will drop all instances in which there is an na value, and then to double check I will have a line of code that prints the number of missing values remaining, which will hopefully be zero.

In [ ]:
price = df['Price'].str.replace(',', '').astype(float)
price.dropna(inplace=True)
print( 'missing values: ', sum( price.isnull() ))

missing values:  0

2. Categorical variable: For the ./data/sharks.csv data covered in the lecture, clean the "Type" variable as well as you can, and explain the choices you make.

In [ ]:
sharks = pd.read_csv('sharks.csv')
sharks.head()

<ipython-input-74-1193caaa81a6>:1: DtypeWarning: Columns (10,17,18,19,20,21,24) have mixed types. Specify dtype option on import or set low_memory=False.
  sharks = pd.read_csv('sharks.csv')

,index,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,0,2020.02.05,05-Feb-2020,2020.0,Unprovoked,USA,Maui,NaN,Stand-Up Paddle boarding,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2020.01.30.R,Reported 30-Jan-2020,2020.0,Provoked,BAHAMAS,Exumas,NaN,Floating,Ana Bruna Avila,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2020.01.17,17-Jan-2020,2020.0,Unprovoked,AUSTRALIA,New South Wales,Windang Beach,Surfing,Will Schroeter,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2020.01.16,16-Jan-2020,2020.0,Unprovoked,NEW ZEALAND,Southland,Oreti Beach,Surfing,Jordan King,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2020.01.13,13-Jan-2020,2020.0,Unprovoked,USA,North Carolina,"Rodanthe, Dare County",Surfing,Samuel Horne,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
sharks['Type'].value_counts()

Type
Unprovoked             4716
Provoked                593
Invalid                 552
Sea Disaster            239
Watercraft              142
Boat                    109
Boating                  92
Questionable             10
Unconfirmed               1
Unverified                1
Under investigation       1
Boatomg                   1
Name: count, dtype: int64

To clean this, I want to create a line of code that drops unhelpful values such as invalid and questionable, as well as combine types that are of similar vein, such as "boating" "boat" and "boatomg"

In [ ]:
type=sharks['Type']
type= type.replace(["Sea Disaster", "Watercraft", "Boat", "Boatomg"], "Boating")
type.value_counts()

type= type.replace(["Questionable", "Invalid", "Unconfirmed", "Unverified", "Under investigation"], np.nan)
type.value_counts()

df['Type'] = type
del type
df['Type'].value_counts()

Type
Unprovoked    4716
Provoked       593
Boating        583
Name: count, dtype: int64

3. Dummy variable: For the pretrial data covered in the lecture, clean the WhetherDefendantWasReleasedPretrial variable as well as you can, and, in particular, replace missing values with np.nan.

In [ ]:
df = pd.read_csv('pretrial2017.csv', low_memory=False)
df.head()

,Unnamed: 0,InternalStudyID,REQ_REC#,Defendant_Sex,Defendant_Race,Defendant_BirthYear,Defendant_Age,Defendant_AgeGroup,Defendant_AgeatCurrentArrest,Defendant_AttorneyTypeAtCaseClosure,...,NewFelonySexualAssaultArrest_OffDate,NewFelonySexualAssaultArrest_ArrestDate,NewFelonySexualAssaultArrest_DaysBetweenContactEventandOffDate,NewFelonySexualAssaultArrest_DaysBetweenOffDateandArrestDate,NewFelonySexualAssaultArrest_DaysBetweenReleaseDateandOffDate,NewFelonySexualAssaultArrest_Disposition,Intertnalindicator_ReasonforExcludingFromFollowUpAnalysis,CriminalHistoryRecordsReturnedorCMSRecordsFoundforIndividual,DispRecordFoundforChargesinOct2017Contact_Atleast1dispfound,CrimeCommission2021ReportClassificationofDefendants
0,0,ADI00001,1,M,W,1986,31,3,31,99,...,,,,999,999,,4,1,0,Defendant could not be classified or tracked d...
1,1,ADI00007,3,M,B,1956,60,6,60,9,...,,,,999,999,,5,1,1,Defendant Detained Entire Pre-Trial Period_Und...
2,2,ADI00008,4,M,W,1990,27,3,27,9,...,,,,999,999,,5,1,1,Defendant Detained Entire Pre-Trial Period_Und...
3,3,CDI00036,6,M,B,1989,27,3,27,0,...,,,,999,999,,5,1,1,Defendant Detained Entire Pre-Trial Period_Und...
4,4,CDI00038,7,F,W,1988,28,3,28,0,...,,,,999,999,,0,1,1,New criminal offense punishable by incarcerati...

In [ ]:
defendent_release = df['WhetherDefendantWasReleasedPretrial']
defendent_release.value_counts()

WhetherDefendantWasReleasedPretrial
1    19154
0     3801
9       31
Name: count, dtype: int64

9 is defined as unclear in the codebook, and so these values should be dropped when cleaning the data

In [ ]:
defendent_release = defendent_release.replace(9,np.nan)
print(defendent_release.value_counts())

WhetherDefendantWasReleasedPretrial
1.0    19154
0.0     3801
Name: count, dtype: int64

4. Missing values, not at random: For the pretrial data covered in the lecture, clean the ImposedSentenceAllChargeInContactEvent variable as well as you can, and explain the choices you make. (Hint: Look at the SentenceTypeAllChargesAtConvictionInContactEvent variable.)

In [ ]:
df = pd.read_csv('pretrial2017.csv', low_memory=False)
length = df['ImposedSentenceAllChargeInContactEvent']
type = df['SentenceTypeAllChargesAtConvictionInContactEvent']

length = pd.to_numeric(length,errors='coerce')
length_NA = length.isnull()
print( np.sum(length_NA),'\n') #

9053

there are a significant amount of missing values, so there needs to be more manipulation

In [ ]:
print( pd.crosstab(length_NA, type), '\n')

length = length.mask( type == 4, 0)
length = length.mask( type == 9, np.nan)

length_NA = length.isnull()
print( pd.crosstab(length_NA, type), '\n')
print( np.sum(length_NA),'\n')

df['ImposedSentenceAllChargeInContactEvent'] = length
del length, type

SentenceTypeAllChargesAtConvictionInContactEvent     0     1    2     4    9
ImposedSentenceAllChargeInContactEvent
False                                             8720  4299  914     0    0
True                                                 0     0    0  8779  274

SentenceTypeAllChargesAtConvictionInContactEvent     0     1    2     4    9
ImposedSentenceAllChargeInContactEvent
False                                             8720  4299  914  8779    0
True                                                 0     0    0     0  274

274

^^These lines of code, first prints a crosstab (contingency table) of missing values in length_NA against the type column. It then modifies the length column by replacing values where type == 4 with 0, and where type == 9 with NaN. this reduces the number of missing variables. After that, it recalculates length_NA to check which values in length are missing (NaN), prints the updated crosstab, and the total number of missing values. Finally, the column length is assigned to df['ImposedSentenceAllChargeInContactEvent'], and the length and type variables are deleted to free up memory.